@model OTPVM
@{
    ViewBag.Title = "Email verification";
}

<div class="col-md-12 d-flex justify-content-center">
    <div class="col-md-4">
        <h2>Email verification</h2>
        <div>An OTP sent to @Model.Email</div>
        @using (Html.BeginForm("EmailOTP", "Account", FormMethod.Post))
        {
            <input type="hidden" asp-for="Email"/>
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>OTP</label>
                <input asp-for="OTP" class="form-control"/>
                <span asp-validation-for="OTP" class="text-danger"></span>
            </div>
            <div class="d-flex align-items-center mt-3">
                <button type="submit" class="btn btn-primary">Verify</button>
                <div style="margin-left:5px">OTP valid for 2:30 minutes only, <a asp-action="ResendEmailOTP">Resend</a></div>
            </div>

        }
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}